.layout {
  @include column-flexbox($gap: 1.6rem);

  max-width: 72rem;
  margin: 0 auto;
  padding-bottom: 4rem;

  &-content-container {
    @include column-flexbox($gap: 2rem);

    width: 100%;
  }
}
