.container {
  @include flexbox(between, $gap: 3.6rem);

  width: 100%;

  &-mimoticon-wrapper {
    position: relative;
    margin: 1.4rem;
    width: 18rem;
    height: 17rem;

    &-img {
      @include image-fit;
    }
  }

  &-introduction {
    @include text-style(28, $gray10, bold);
  }
}
