.container {
  @include flexbox(between);

  width: 100%;

  &-mimoticon-wrapper {
    position: relative;
    margin: 1.2rem;
    width: 15rem;
    height: 15rem;

    &-img {
      @include image-fit;
    }
  }

  &-introduction {
    @include text-style(28, $gray10, bold);
  }
}
