// Primary
$primary: #60a3bc;

// Grayscale
$black: #151419;
$black10: #060606;
$white: #f7f7f7;
$white5: #ffffff0d;
$gray90: #1a191f;
$gray80: #1e1f25;
$gray70: #24252d;
$gray60: #272931;
$gray50: #30313c;
$gray40: #474a5b;
$gray30: #6a6d81;
$gray20: #888ca7;
$gray10: #e0e0e0;

// opacity
$opacity-black-30: rgba(0 0 0 / 30%);
$opacity-black-60: rgba(0 0 0 / 60%);
$opacity-white-5: rgba(255 255 255 / 5%);

// Specific color
$tag-background: $opacity-white-5;
